SUPABASE_URL=https://kvucdlvbxlmvnrzvtcgv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_z-vrTzV72qPVPBtgWWgyBg_kcHmFzQA
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_BUCKET=ngondet-assets
N8N_WEBHOOK_URL=https://n8n.srv1710890.hstgr.cloud/webhook/generer-visuel
APP_PORT=3000
APP_SECRET=change_me
